{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "tea/create-brew.css" %}">
{% endblock %}

{% block title %}Nowe parzenie{% endblock title %}

{% block content %}
    <main id='main-content'>
        <h1>{{ page_title }}</h1>
        <form method="post" id="tea-form">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
            {% for field in form.visible_fields %}
                <div class="field{% if field.errors %} invalid{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <input id="submit_button" type="submit" value="Dodaj">
        </form>
    </main>
{% endblock %}