{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "tea/create-tea.css" %}">
{% endblock %}

{% block title %}Dodawanie herbaty{% endblock title %}

{% block content %}
    <main id='main-content'>
        <h1>Nowa herbata</h1>
        <form method="post" id="tea-form">
            {% csrf_token %}
            <div id="short-fields">
                <div class='column'>
                    {% for field in form.visible_fields|slice:":6" %}
                        <p>
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </p>
                    {% endfor %}
                </div>
                <div class='column'>
                    {% for field in form.visible_fields|slice:"6:-4" %}
                        <p>
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div id="long-fields">
                {% for field in form.visible_fields|slice:"-4:" %}
                    <p>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </p>
                {% endfor %}
            </div>
            <input type="submit" value="Dodaj">
        </form>
    </main>
{% endblock %}