{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "tea/main-page.css" %}">
{% endblock %}

{% block title %}Strona główna{% endblock title %}

{% block content %}
    <main id="main-content">
        <article id="most-recent-teas">
            <h2>Ostatnio dodane herbaty</h2>
            {% include "tea/includes/tea-list-item.html" %}
        </article>
        <article id="random-teas">
            <h2>Losowe herbaty</h2>
            {% include "tea/includes/tea-list-item.html" %}
        </article>
        <article id="last-viewed-teas">
            <h2>Ostatnio oglądane</h2>
            {% include "tea/includes/tea-list-item.html" %}
        </article>
    </main>
{% endblock  %}