{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "tea/main-page.css" %}">
{% endblock %}

{% block title %}Strona główna{% endblock title %}

{% block content %}
    <main id="main-content">
        <article id="most-recent-teas">
            <h2>Ostatnio dodane herbaty</h2>
            <ul id="recent-teas-list">
                {% for tea in teas.recent %}
                    <li>
                        <a href="">
                            {% if tea.image_set.first.image.url %}
                                <img class="tea-image" src="{{ tea.image_set.first.image.url }}" alt="Zdjęcie herbaty"/>
                            {% else %}
                                <img class="tea-image" src="{% static "images/default_tea.png" %}" alt="Rysunek liści herbaty, brak zdjęć"/>
                            {% endif %}
                            <h3>{{ tea.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
        <article id="random-teas">
            <h2>Losowe herbaty</h2>
            <ul id="random-teas-list">
                {% for tea in teas.random %}
                    <li>
                        <a href="">
                            {% if tea.image_set.first.image.url %}
                                <img class="tea-image" src="{{ tea.image_set.first.image.url }}" alt="Zdjęcie herbaty"/>
                            {% else %}
                                <img class="tea-image" src="{% static "images/default_tea.png" %}" alt="Rysunek liści herbaty, brak zdjęć"/>
                            {% endif %}
                            <h3>{{ tea.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
        <article id="last-viewed-teas">
            <h2>Ostatnio oglądane</h2>
            <ul id="last-viewed-teas-list">
                {% for tea in teas.last_viewed %}
                    <li>
                        <a href="">
                            {% if tea.image_set.first.image.url %}
                                <img class="tea-image" src="{{ tea.image_set.first.image.url }}" alt="Zdjęcie herbaty"/>
                            {% else %}
                                <img class="tea-image" src="{% static "images/default_tea.png" %}" alt="Rysunek liści herbaty, brak zdjęć"/>
                            {% endif %}
                            <h3>{{ tea.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </main>
{% endblock  %}