main {
    display: grid;
    justify-content: center;
    color: #2e2e2e;
}

#main-content h2 {
    text-align: center;
    font-weight: 600;
}

#main-content ul {
    list-style-type: none;
    display: flex;
}

#main-content a {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid #6d6c6c;
    border-radius: 25px;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    color: #2e2e2e;
}

.tea-image {
    max-width: 225px;
    max-height: 225px;
    margin-bottom: 10px;
}