#main-content h1 {
    text-align: center;
}

#main-content p {
    text-align: center;
    margin-bottom: 2rem;
}

#profile-select {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    min-height: 50px;
}

.field select {
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    min-width: 25rem;
}

.big-button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
}

.big-button:hover {
    border: 1px solid #84a8e9;
}

a {
    text-decoration: none;
}