#details-main h1 {
    color: #2e2e2e;
    padding-bottom: 2rem;
}

#image-and-description {
    display: flex;
}

#description {
    display: flex;
    flex-direction: column;
}

#description p {
    color: #2e2e2e;
    font-size: large;
    padding-left: 5rem;
    padding-right: 5rem;
}

#description h2 {
    color: #2e2e2e;
    padding-left: 5rem;
    padding-right: 5rem;
}

.tea-image {
    max-width: 50vw;
    max-height: 50vh;
    border: 1px solid #6d6c6c;
    border-radius: 10px;
}