@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#main-navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
}

#main-navigation nav {
    display: flex;
    align-items: center;
}

#main-navigation a,
h1 {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
}

#main-navigation a:hover,
#main-navigation a:active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#main-navigation details,
summary {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-icon {
    height: 29px;
}

#content-wrapper {
    padding-top: 85px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}