{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block css_files %}{% endblock %}
</head>

<body>
    <header id="main-navigation">
        <nav>
            <a href="{% url "main-page" %}">
                <img class="nav-icon" src="{% static "images/home_icon.svg" %}" alt="Dom oznaczający stronę główną"/>
            </a>
            <h1><a href="{% url "all-teas" %}">Lista herbat</a></h1>
            <h1><a href="{% url "create-tea" %}">Dodaj herbatę</a></h1>
            <h1><a href="{% url "profile-select" %}">Zmień profil</a></h1>
        </nav>
    </header>

    <div id="content-wrapper">
        {% block content %}{% endblock %}
    </div>

</body>

</html>